.actions li {
	list-style: none;
	display: inline;
	text-align: center;
}

ul{
	text-align: center;
}

.panel{
	margin-top: 5px;
	width: 80%;
	padding: 22px;
	background-color: #2b2b2b;
	margin-bottom: 50px;
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 10px;
	overflow: auto;
	text-align: justify;
}

img:hover{
	border-color: #A3A3A3;
}

.title{
	text-align: center;
	font-size: 30px;
}

img {
	width: 200px;
	height: 200px;
	border-style: solid;
	border-width: 3px;
	border-color: #525252;
	padding: 1px;
	margin: 2px;
	-webkit-box-shadow: 0 0 11px #111;
}

.image{
	display: inline;
	text-align: justify;
}