.actions li {
	list-style: none;
	display: inline;
	text-align: center;
}

td{
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-shadow: 0 0 11px 1px #111;
}

table{
	margin: auto;
	padding-bottom: 20px;
}

.list{
	background-color: #2b2b2b;
	position: relative;
	text-align: left;
	-webkit-box-shadow: 0 0 11px 1px #111;
	border-radius: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	text-justify: center;
	width: 90%;
}

.title{
	text-align: center;
	font-size: 30px;
}