fieldset{
	border: none;
}

.options li {
	list-style: none;
	display: inline;
	text-align: center;
}

.actions{
	text-align: center;
}

.title{
	text-align: center;
	font-size: 30px;
}

.form{
	background-color: #2b2b2b;
	width: 50%;
	position: relative;
	text-align: left;
	-webkit-box-shadow: 0 0 11px 1px #111;
	border-radius: 10px;
	margin-bottom: 20px;
	font-size: 18px;
	text-justify: center;
	margin-top: 20px;
	padding: 10px;
}

.title{
	text-align: center;
	font-size: 30px;
}

.sub{
	text-align: center;
}