div.image {
	display: inline-flex;
}

img {
	width: 200px;
	height: 200px;
	-webkit-box-shadow: 0 0 11px #999999;
	-webkit-border-radius: 10px;
	background-color: #2b2b2b;
	margin: 5px 0 5px 0;
}

.actions{
	text-align: center;
}

.options li {
	list-style: none;
	display: inline;
	text-align: center;
}

.area{
	text-align: justify;
}

.panel{
	margin-top: 5px;
	width: 80%;
	padding: 22px;
	background-color: #2b2b2b;
	margin-bottom: 50px;
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 10px;
	overflow: auto;
}

img:hover{
	border-color: #A3A3A3;
	-webkit-box-shadow: 0 0 11px #19D1FF;
	-webkit-border-radius: 10px;
}