img {
	max-width: 80%;
	max-height: 80%;
}

a{
	text-decoration: underline;
	color: #AAAAAA;
}

.comments > h2{
	text-align: center;
}

.name{
	text-align: center;
}

.actions{
	text-align: center;
	list-style: none;
}

.options li {
	list-style: none;
	display: inline;
	text-align: center;
}

.stats li {
	list-style: none;
	display: inline;
	text-align: center;
	padding: 5px;
	margin: 0 5px 0 5px;
	border-radius: 10px;
	background: #242424;
	display: inline;
	text-align: center;
	list-style: none;
}

.name{
	text-justify: center;
}

.info{
	text-decoration: none;
	color: #AAAAAA;
	text-justify: center;
	text-align: center;
}

.area{
	text-align: justify;
}

.panel{
	margin-top: 5px;
	width: 80%;
	padding: 22px;
	background-color: #2b2b2b;
	margin-bottom: 50px;
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 10px;
}

.image{
	text-align: center;
}

.comments{
	max-width: 80%;
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 10px;
	background-color: #2b2b2b;
	padding-bottom:10px;
	margin-bottom: 10px;
}

.com_pic{
	max-width: 75px;
	-webkit-box-shadow: 0 0 11px #111;
	background-color: #2b2b2b;
	float: left;
	margin-right: 20px;
}

.com_box{
	background: #383838;
	width: 90%;
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}


















