body{
	color: #ddddd1;
	background-color: #242424;
	font-family: inherit;
}

#debug-kit-toolbar img {
	width: auto !important;
	height: auto !important;
}

#header, #footer{
	height: 40px;
	background-color: #2b2b2b;
	width: 100%;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 0 0 11px 1px #111;
	font-family: "Bauhaus 93";
	font-variant: small-caps;
	font-size: 30px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

a{
	text-decoration: none;
}