img{
	width: 100px;
	height: 100px;
}

.options{
	text-align: center;
}

td{
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 10px;
	background: #242424;
	margin: 5px;
	padding: 5px;
	text-align: center;
	text-justify: center;
}

th > a{
	text-decoration: none;
	color: #ddddd1;
	font-size: 20px;
}

.options li {
	list-style: none;
	display: inline;
	text-align: center;
}

.panel{
	margin-top: 5px;
	width: 80%;
	padding: 22px;
	background-color: #2b2b2b;
	margin-bottom: 50px;
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 10px;
}

.title{
	text-align: center;
}

table{
	margin: auto;
}