img {
	width: 200px;
	height: 200px;
	-webkit-box-shadow: 0 0 11px #999999;
	-webkit-border-radius: 10px;
	background-color: #2b2b2b;
}

.name{
	text-align: center;
}

.actions{
	text-align: center;
	list-style: none;
}

.options li {
	list-style: none;
	display: inline;
	text-align: center;
}

.stats li {
	list-style: none;
	display: inline;
	text-align: center;
	padding: 5px;
	margin: 0 5px 0 5px;
	border-radius: 10px;
	background: #242424;
	display: inline;
	text-align: center;
	list-style: none;
}

.pic{
	display: inline;
}

.info{
	text-decoration: none;
	text-justify: right;
	text-align: right;
	padding: 5px;
	margin: 5px;
	float: right;
}

.info > div{
	padding: 3px 5px 3px 5px;
	margin: 3px 5px 3px 5px;
	font-size: 18px;
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 7px;
	background-color: #2b2b2b;	
}

.area{
	text-align: justify;
}

.panel{
	margin-top: 5px;
	width: 80%;
	padding: 22px;
	background-color: #2b2b2b;
	margin-bottom: 50px;
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 10px;
	text-align: justify;
}

.image{
	text-align: center;
	display: inline;
	padding: 5px;
	margin: 5px;
}

.comments{
	max-width: 80%;
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 10px;
	background-color: #2b2b2b;
	padding-bottom:10px;
	margin-bottom: 10px;
}

.com_pic{	
	margin: 20px;
	max-width: 75px;
	-webkit-box-shadow: 0 0 11px #111;
	background-color: #2b2b2b;	
}

.com_box{
	background: #383838;
	width: 90%;
	-webkit-box-shadow: 0 0 11px #111;
	-webkit-border-radius: 10px;
}

.title{
	text-align: center;
	font-size: 30px;
}